.main {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../background.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .HeaderTitle {
    font-size: 50px !important;
  }
  .HeaderSubTitle {
    font-size: 20px !important;
  }
}
